{%- assign fields = site.data.config-metadata -%}
{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<script src="{{ '/assets/lib/lightgallery/js/lightgallery-all.min.js' | relative_url }}"></script>
<script type="module" >
import GithubApi from "./githubapi.js";

function reloadData()
{
  var githubApi = new GithubApi("8BitSensei", "RitualHub-Dataset", "master");
  githubApi.get("sites/ritualSites.json", (err, res) => {
    if (err) {
      console.log(err);
    }
    else {
      var items = res.content.sites;
      var queryString = window.location.search.substring(1).split("=")[1];
      var record = items[queryString];
      console.log(record);
      if (record) {
        /* add item title */
        var objectTitle = record.site;
        document.getElementById("bc-title").innerHTML = objectTitle;
        document.getElementById("item-title").innerHTML = objectTitle;
        /* add object */ 
        var format = "" + record.format;
        var objectLink = record.filename;
        var itemImage;
        if (format.includes('image')) {
            itemImage= '<div class="gallery-img" data-src="' + objectLink + '"><img class="img-fluid" src="' + objectLink + '" alt="' + objectTitle + '"><p><small>Click to view full screen</small></p></div>';
        } else if (format.includes('pdf')) {
            itemImage= '<object data="' + objectLink + '" type="application/pdf" width="100%" height="450px"><p>The PDF is not rendering in your browser. Please use the button below to download the PDF.</p></object>';
        } else if (format.includes('audio')) {
            itemImage= '<audio controls class="w-100"><source src="' + objectLink + '">Your browser does not support the audio element.</audio>';
        } else if (record.youtube) {
            itemImage= '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/' + record.youtube + '?rel=0&modestbranding=1" allowfullscreen></iframe></div>';
        } else if (record.vimeo) {
            itemImage= '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://player.vimeo.com/video/' + record.vimeo + '" allowfullscreen></iframe></div>';
        } else if (format.includes('video')) {
            itemImage= '<video controls class="w-100"><source src="' + objectLink + '">Your browser does not support the video element.</audio>';
        } else {
            /* fall back to no preview if it doesn't know the format */
            itemImage= undefined;
        }
        
        {% if stubs contains "map" %}
        /* add link to view on map */ 
        var itemLink;
        if (record.latitude && record.longitude) {
            itemLink = '<a href="{{ '/map.html' | relative_url }}#' + record.latitude + ',' + record.longitude + '" class="btn btn-outline-dark">View on Map</a>';
        }
        {%- endif -%}

        
        /* add content to item display area */
        if(itemImage !== undefined){
            document.getElementById("image-holder").innerHTML = "<div class=\"card mb-4 text-center\"><div class=\"w-100 text-center p-1\" id=\"item-image\"></div></div>";
            document.getElementById("item-image").innerHTML = itemImage;
        }
        
        /* trigger lightGallery for images */
        if (format.includes('image')) {
            $("#item-image").lightGallery({
                selector: '.gallery-img'
            });
        }

        /* add item metadata */
        var fields = '<dl>';
        {% for f in fields %}{% if f.browse_link == "true" %}
        if (record[{{ f.field | jsonify }}]) {
            var topics = record[{{ f.field | jsonify }}].split(';');
            var browseLinks = "";
            for (var i = 0, len = topics.length; i < len; i++) {
                if (topics[i] != "") {
                    browseLinks += '<a class="btn btn-link item-tag" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(topics[i].trim()) + '">' + topics[i].trim() + ',</a> ';
                }
            }
            fields += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">' + browseLinks + '</dd>';
        }

        {%- else -%}
        var mapped;
        if (record[{{ f.field | jsonify }}]) 
        { 
            if("{{f.field}}" == "latitude" || "{{f.field}}" == "longitude")
            {
                if(mapped !== true)
                {
                    fields += '<dd class="field-value">' + itemLink +'</dd>'; 
                    mapped = true;
                }
                
            }
            else
            {
                fields += '<dt class="field">{{ f.display_name }}:</dt> <dd class="field-value">{% if f.external_link == "true" %}<a href="' + record[{{ f.field | jsonify }}] + '" target="_blank">' + record[{{ f.field | jsonify }}] + '</a>{% else %}' + record[{{ f.field | jsonify }}] + '{% endif %}</dd>'; 
            }
        }

        {% endif %}
        {% endfor %}
        
        fields += '</dl>';
        document.getElementById("item-metadata").innerHTML = fields;

        {% if site.data.theme.browse-buttons == true %}
        /* add prev/next nav */
        var itemKeys = Object.keys(items);
        var current = itemKeys.indexOf(queryString);
        var last = itemKeys.length - 1;
        var back, forward;
        if (current === 0) {
            back = itemKeys[last];
        } else { 
            back = itemKeys[current - 1];
        }
        if (current === last) {
            forward = itemKeys[0];
        } else {
            forward = itemKeys[current + 1];
        }
        var backUrl = "{{ '/item.html?id=' | relative_url }}" + back;
        var forwardUrl = "{{ '/item.html?id=' | relative_url }}" + forward;
        /* add side buttons to page */
        document.getElementById("back-button").href = backUrl;
        document.getElementById("next-button").href = forwardUrl;
        /* add bottom buttons to page */
        document.getElementById("prev-button").href = backUrl;
        document.getElementById("for-button").href = forwardUrl;

        /* add back forward key press */
        document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
            location.href = backUrl;
                break;
            case 39:
            location.href = forwardUrl;
                break;
        }};
        {%- endif -%}
        
    } else {
        /* no item with that ID */
        document.getElementById("bc-title").innerHTML = 'Not found?';
        document.getElementById("item-title").innerHTML = 'Sorry, item not found. Please visit <a href="{{ "/browse.html" | relative_url }}">Browse page</a> to find an item.';
    }
      
    }});
}

reloadData();

</script>
